<!-- / #chart-info.just-data{data: {employer: @by_employer, by_industry: @by_industry, by_location: @by_location} }

/ %canvas#by-employer-chart{width:"400", height:"400"}
 -->
<br>
<br>
<div class="outcome-actions">
  <%= link_to new_outcome_path do %>
  <div class="outcome-link">
    Add a new outcome
  </div>
  <% end %>

  <%= link_to outcomes_path do %>
  <div class="outcome-link">
    View all outcomes
  </div>
  <% end %>
</div>
<br>
<br>
<br>

<div class="filter-container">
  <h3 class="filter-item filter-label"><strong>Filters</strong></h3>
  <div class="filters">
    <span class="spacer">Industry:</span>
    <oc-filter-dropdown filter-name="industry" options-url="/api/industries"></oc-filter-dropdown>

    <span class="spacer">Employer:</span>
    <oc-filter-dropdown filter-name="employer" options-url="/api/employers"></oc-filter-dropdown>

    <span class="spacer">Location:</span>
    <oc-filter-dropdown filter-name="location" options-url="/api/locations"></oc-filter-dropdown>
  </div>
</div>


<div class="dashboard-container">
  <oc-pie-chart data-title="'Outcomes by Employer'" data-url="'/api/outcomes_by_employer'"></oc-pie-chart>
  <oc-pie-chart data-title="'Outcomes by Location'" data-url="'/api/outcomes_by_location'"></oc-pie-chart>
  <oc-pie-chart data-title="'Outcomes by Industry'" data-url="'/api/outcomes_by_industry'"></oc-pie-chart>
</div>


