<!-- / #chart-info.just-data{data: {employer: @by_employer, by_industry: @by_industry, by_location: @by_location} }

/ %canvas#by-employer-chart{width:"400", height:"400"}
 -->
<div class="dashboard-container">
  <oc-pie-chart data-title="'Outcomes by Employer'" data-url="'/api/outcomes_by_employer'"></oc-pie-chart>
  <oc-pie-chart data-title="'Outcomes by Location'" data-url="'/api/outcomes_by_location'"></oc-pie-chart>
  <oc-pie-chart data-title="'Outcomes by Industry'" data-url="'/api/outcomes_by_industry'"></oc-pie-chart>
</div>
